<app-header></app-header>


<div class="flex flex-row justify-center align-baseline items-baseline mt-5">
    <div>
        <input [(ngModel)]="filter.name" (keydown)="onInputKeyDown($event)" type="text" placeholder="Name" 
                class="w-[250px] px-4 py-2 rounded-lg bg-white shadow-md focus:outline-none focus:ring focus:border-indigo-300">
   </div>

    <div class="ml-5">
        <input [(ngModel)]="filter.genre" (keydown)="onInputKeyDown($event)" type="text" placeholder="Genre" 
                class="w-[250px] px-4 py-2 rounded-lg bg-white shadow-md focus:outline-none focus:ring focus:border-indigo-300">
   </div>
   <div class="ml-5">
        <input [(ngModel)]="filter.author" (keydown)="onInputKeyDown($event)" type="text" placeholder="Author" 
            class="w-[250px] px-4 py-2 rounded-lg bg-white shadow-md focus:outline-none focus:ring focus:border-indigo-300">
    </div>

   <div class="bg-[#eeeeee] hover:bg-[#dfdfdf]  ml-3 rounded-xl shadow-2xl">
    <button (click)="onSearch()" class="text-gray-500 px-8 py-2 hover:text-black flex items-baseline ">
        
        <span>Search</span>
    </button>
   </div>
</div>


<div class="flex flex-row flex-wrap gap-5 justify-center mt-5">

     <div *ngIf="books.length === 0" class="w-96 mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
      <p>No matches</p>
    </div>

    <div [routerLink]="['/books', book.id]" *ngFor="let book of books"
         class="flex flex-col bg-white shadow-md rounded-lg cursor-pointer hover:scale-[1.01] w-[280px]">
      <div class="mb-4 w-[280px] h-[350px]">
        <img [src]="'http://localhost:5005/Resources/' + book.imagePath" 
             alt="{{ book.name }} cover image" 
             class="object-fill rounded-md shadow-lg w-full h-full">
      </div>
      
      <div class="px-4 pb-4">
        <h3 class="text-lg font-bold mb-2 text-center truncate">{{ book.name }}</h3>
        
        <p class="text-gray-700 text-sm mb-1"><strong>Genre:</strong> {{ book.genre }}</p>
        <p class="text-gray-700 text-sm mb-1"><strong>ISBN:</strong> {{ book.isbn }}</p>
        
        <div class="mt-4">
          <h4 class="text-md font-semibold">Authors:</h4>
          <ul class="list-inside list-disc ml-4">
            <li *ngFor="let author of book.authors" class="text-gray-600 text-sm">
              {{ author.name }} {{ author.surname }}
            </li>
          </ul>
        </div>
      </div>
      
      <div *ngIf="!isMinDate(book.takenAt)">
        <p class="text-sm pl-5 ">Not avaliable now</p>
      </div>
    </div>
</div>
  

<div class="flex flex-row align-center justify-center mt-5">
    <mat-paginator  
      [length]="totalPages"
      [pageSize]="pageSize" 
      (page)="onPageChange($event)">
    </mat-paginator>
</div>



  
  
